# Comparação de carros japoneses e alemães

In [29]:
import pandas as pd 
import numpy as np

In [31]:
#defenindo os dados das empresas 
CarrosAlemaes = {
    'Modelos': ['Porsche GT3 RS', 'Mercedes GLE', 'BMW M4', 'Audi RS6'],
    'Preço':[2000000, 1080000, 1000000, 900000],
    'Avaliacoes': [10,9,8.5,9.3],
    'Velocidade_max': [330, 280, 290, 300]    
}

#defenindo os dados das empresas 
CarrosJaponeses = {
    'Modelos': ['Toyota Supra', 'Honda Type R', 'Nissan GTR', 'Mazda RX7'],
    'Preço':[1000000, 500000, 1000000, 550000],
    'Avaliacoes': [8,7,7,6],
    'Velocidade_max': [270, 220, 280, 250]    
}

Criando data Frames

In [32]:
df_alemaes = pd.DataFrame(CarrosAlemaes)
df_alemaes

          Modelos    Preço  Avaliacoes  Velocidade_max
0  Porsche GT3 RS  2000000        10.0             330
1    Mercedes GLE  1080000         9.0             280
2          BMW M4  1000000         8.5             290
3        Audi RS6   900000         9.3             300

In [33]:
df_japoneses = pd.DataFrame(CarrosJaponeses)
df_japoneses

        Modelos    Preço  Avaliacoes  Velocidade_max
0  Toyota Supra  1000000           8             270
1  Honda Type R   500000           7             220
2    Nissan GTR  1000000           7             280
3     Mazda RX7   550000           6             250

In [34]:
#calculando a media de preços usando Numpy
media_PrecoA = np.mean(df_alemaes['Preço'])
media_precoJ = np.mean(df_japoneses['Preço'])

print(f"Média de preços para carros alemães: R${media_PrecoA:.2f}")
print(f"Média de preços para carros japoneses: R${media_precoJ:.2f}")
#pegando a menor media de preço
min_preco = np.min([media_PrecoA,media_precoJ])

if(min_preco == media_precoJ):
    print(f"\nOs carros mais baratos dos apresentados são os Japoneses com media R${media_precoJ: .2f}\nEnquanto os modelos Alemães apresentados tem valores mais \naltos e são mais luxuosos (preço medio: R${media_PrecoA: .2f})")
elif(min_preco == media_PrecoA):
    print(f"\nOs carros mais baratos são os Alemaes com media R${media_PrecoA: .2f}\nEnquanto os modelos Japoneses apresentados tem valores mais \naltos e são mais luxuosos (preço medio: R${media_precoJ: .2f})")
elif(media_PrecoA == media_precoJ):
    print(f"\nAmbas categorias possuem mesma media de preco: R${media_precoJ: .2f}")

Média de preços para carros alemães: R$1245000.00
Média de preços para carros japoneses: R$762500.00

Os carros mais baratos dos apresentados são os Japoneses com media R$ 762500.00
Enquanto os modelos Alemães apresentados tem valores mais
altos e são mais luxuosos (preço medio: R$ 1245000.00)

In [35]:
# calculando outras estatisticas (media de avaliçoes de alemaes e japoneses)
media_AvA = np.mean(df_alemaes['Avaliacoes'])
media_AVJ = np.mean(df_japoneses['Avaliacoes'])
#calculando media de velocidades
media_veloA = np.mean(df_alemaes['Velocidade_max'])
media_veloJ = np.mean(df_japoneses['Velocidade_max'])

print(f"A media de avaliações dos japoneses: {media_AVJ: .2f}\nA media de avaliações dos Alemaes: {media_AvA: .2f}")
print(f"\n\nA media de velocidade maxima dos japoneses: {media_veloJ: .2f}\nA media de velocidade maxima dos Alemaes: {media_veloA: .2f}")

A media de avaliações dos japoneses:  7.00
A media de avaliações dos Alemaes:  9.20


A media de velocidade maxima dos japoneses:  255.00
A media de velocidade maxima dos Alemaes:  300.00

### Encontrando o mais bem avaliado de cada categoria e dentre as duas

In [36]:
# Encontrando o carro mais bem avaliado de cada categoria
carro_mais_bem_avaliado_alemaes = df_alemaes.loc[df_alemaes['Avaliacoes'].idxmax(), 'Modelos']
carro_mais_bem_avaliado_japoneses = df_japoneses.loc[df_japoneses['Avaliacoes'].idxmax(), 'Modelos']

# Exibindo os resultados
print(f"Carro mais bem avaliado entre os alemães: {carro_mais_bem_avaliado_alemaes}")
print(f"Carro mais bem avaliado entre os japoneses: {carro_mais_bem_avaliado_japoneses}")

# Concatenando os DataFrames de alemães e japoneses
df_total = pd.concat([df_alemaes, df_japoneses], ignore_index=True)
# Encontrando o carro mais bem avaliado dentre todos
carro_mais_bem_avaliado = df_total.loc[df_total['Avaliacoes'].idxmax(), 'Modelos']
# Exibindo os resultados
print(f"Carro mais bem avaliado entre alemaes e japoneses: {carro_mais_bem_avaliado}")

Carro mais bem avaliado entre os alemães: Porsche GT3 RS
Carro mais bem avaliado entre os japoneses: Toyota Supra
Carro mais bem avaliado entre alemaes e japoneses: Porsche GT3 RS

### Encontrando o mais veloz de cada categoria e dentre as duas

In [37]:
# Encontrando o carro mais veloz de cada categoria 
carro_mais_veloz_alemaes = df_alemaes.loc[df_alemaes['Velocidade_max'].idxmax(), 'Modelos']
carro_mais_veloz_japoneses = df_japoneses.loc[df_japoneses['Velocidade_max'].idxmax(), 'Modelos']
# Exibindo os resultados
print(f"Carro mais veloz entre os alemães: {carro_mais_veloz_alemaes}")
print(f"Carro mais veloz entre os japoneses: {carro_mais_veloz_japoneses}")


# Encontrando o carro mais veloz (usando o concat anterior)
carro_mais_veloz = df_total.loc[df_total['Velocidade_max'].idxmax(), 'Modelos']

# Exibindo os resultados
print(f"Carro mais veloz entre os alemaes e japoneses: {carro_mais_veloz}")

Carro mais veloz entre os alemães: Porsche GT3 RS
Carro mais veloz entre os japoneses: Nissan GTR
Carro mais veloz entre os alemaes e japoneses: Porsche GT3 RS