### sistema de recomendação de músicas usando filtragem colaborativa baseada em itens

In [39]:
import pandas as pd

# criando os dados
data = {
    'Usuario': ['Usuário 1', 'Usuário 1', 'Usuário 1', 'Usuário 2', 'Usuário 2', 'Usuário 3', 'Usuário 3', 'Usuário 4', 'Usuário 4', 'Usuário 4'],
    'Musica': ['Música A', 'Música B', 'Música C', 'Música A', 'Música C', 'Música B', 'Música C', 'Música A', 'Música B', 'Música D'],
    'Avaliacao': [5, 3, 4, 4, 5, 2, 3, 5, 4, 1]
}

In [40]:
# criando o DataFrame
df = pd.DataFrame(data)
df

     Usuario    Musica  Avaliacao
0  Usuário 1  Música A          5
1  Usuário 1  Música B          3
2  Usuário 1  Música C          4
3  Usuário 2  Música A          4
4  Usuário 2  Música C          5
5  Usuário 3  Música B          2
6  Usuário 3  Música C          3
7  Usuário 4  Música A          5
8  Usuário 4  Música B          4
9  Usuário 4  Música D          1

In [41]:
# criando a matriz de avaliações
tabela_avaliacoes = df.pivot_table(index='Usuario', columns='Musica', values='Avaliacao')

# exibindo a tabela de avaliações
print("Tabela de avaliações:")
print(tabela_avaliacoes)

Tabela de avaliações:
Musica     Música A  Música B  Música C  Música D
Usuario
Usuário 1       5.0       3.0       4.0       NaN
Usuário 2       4.0       NaN       5.0       NaN
Usuário 3       NaN       2.0       3.0       NaN
Usuário 4       5.0       4.0       NaN       1.0

In [42]:
# função para calcular a similaridade entre as músicas com base nas correlações das avaliações
def calcular_similaridade(musica_interesse):
    avaliacoes_musica = tabela_avaliacoes[musica_interesse]     # seleciona as avaliações da música de interesse
    
    musicas_similares = tabela_avaliacoes.corrwith(avaliacoes_musica)  # calcula a correlação com outras músicas
    
    recomendacoes = musicas_similares.dropna().sort_values(ascending=False).to_frame(name='Similaridade')  # remove valores nulos e cria um DataFrame com as similaridades

    return recomendacoes

In [43]:
musica_escolhida = 'Música A'
# obtendo recomendações baseadas na música escolhida
recomendacoes = calcular_similaridade(musica_escolhida)

/home/williansoder/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/home/williansoder/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/home/williansoder/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/home/williansoder/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
/home/williansoder/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

In [44]:
# exibindo as recomendações
print(f"\nMúsicas recomendadas com base na música '{musica_escolhida}':")
print(recomendacoes)

Músicas recomendadas com base na música 'Música A':
          Similaridade
Musica
Música A           1.0
Música C          -1.0